/*Margin-top for main content*/
.inside #maincontent {
    margin-top: 130px;
}

/* Round corners of a restaurant image and review block */
#restaurant-img,
#reviews-list li{
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

/* Black header of a review block */
#reviews-list li p:first-child,
#reviews-list li p:nth-child(2) {
    position: absolute;
    top: 0;
    width: 50%;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    padding: 0 20px;
}

#reviews-list li p:first-child {
    left: 0;
    font-size: large;
    color: white;
}

#reviews-list li p:nth-child(2) {
    right: 0;
    text-align: right;
    color: #c1c1c1;
}

#reviews-list li {
    overflow: hidden;
    padding: 105px 20px 20px;
}

/* Orange rating block */
#reviews-list li p:nth-child(3) {
    border-radius: 3px;
    position: absolute;
    top: 65px;
    width: auto;
    background-color: #7e4f00;
    color: white;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Adjust review body font*/
#reviews-list li p:last-child {
    font-size: 11pt;
    color: dimgrey;
}