@media screen and (orientation: landscape) and (min-width: 800px) {

    .filter-options select{
        width: 200px;
        display: inline-block;
    }

    #restaurants-list {
        padding: 30px 0 60px 0;
        box-sizing: border-box;
    }

    #restaurants-list li {
        box-sizing: border-box;
        width: 50%;
        margin: 0;
    }

    .inside #breadcrumb,
    .inside #maincontent,
    .inside #footer {
        width: 50%;
    }

    .inside #map-container {
        height: calc(100% - 80px);
        background: blue none repeat scroll 0 0;
        position: fixed;
        right: 0;
        top: 80px;
        width: 50%;
    }

}