@media screen and (max-width: 550px) {
    #maincontent {
       min-width: 100%;
    }

    .filter-options {
        display: flex;
        flex-flow: row wrap;
        height: auto;
    }

    .filter-options select {
        width: 100%;
    }

    #restaurants-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}